.Shawkat{
  width: 20%;
  height: 20%;
  margin: 5px auto;
  background-color: black;
  opacity: 0;
  transform:  translateX(100%);
  transition:  all 1s ease-in;
}
.ashraf {
  opacity: 4;
  transform:  translateX(0);
}
